@import url('font-awesome/css/font-awesome.min.css');

:root {
    --primary: #008080;
}

html, body {
    font-family: 'Helvetica Neue', Helvetica, Arial, sans-serif;
}

#blazor-error-ui {
    background: lightyellow;
    bottom: 0;
    box-shadow: 0 -1px 2px rgba(0, 0, 0, 0.2);
    display: none;
    left: 0;
    padding: 0.6rem 1.25rem 0.7rem 1.25rem;
    position: fixed;
    width: 100%;
    z-index: 1000;
}

    #blazor-error-ui .dismiss {
        cursor: pointer;
        position: absolute;
        right: 0.75rem;
        top: 0.5rem;
    }

.page {
    position: relative;
    display: flex;
    flex-direction: column;
    page-break-before: always;
}

.sidebar {
    padding: 15px;
    z-index: 2;
}

.photo {
    text-align: center;
}

    .photo img {
        border-radius: 10%;
    }

.top-row, .top-row-sidebar {
    border-bottom: 1px solid;
    border-color: var(--primary);
    text-align: center;
    margin-top: 30px;
    margin-bottom: 10px;
}

.name {
    font-variant: small-caps;
    font-size: 3rem;
}

.clear-both {
    clear: both;
}

.hide {
    display: none;
}

@media (min-width: 641px) {
    .first-page {
        flex-direction: row;
    }

    .sidebar {
        min-width: 250px;
        border-right: 1px solid;
        border-color: var(--primary);
    }

    .top-row {
        z-index: 1;
    }

    .top-row-sidebar {
        display: none;
    }

    .function-title {
        letter-spacing: 2px;
        font-family: 'cascadia code';
        font-size: unset;
        font-weight: 300;
    }

    .period {
        float: right;
    }
}

@media (max-width: 641px) {
    .top-row-sidebar {
        display: block;
    }

    .top-row {
        display: none;
    }

    .period {
        float: left;
        padding-top: .5rem !important;
        padding-bottom: .5rem !important;
    }
}

h1.name {
    color: var(--primary);
}

.legend {
    color: var(--primary);
    font-size: 1.4rem;
    text-transform: uppercase;
    letter-spacing: 3px;
}

.skill-group-name {
    font-weight: 100;
    color: var(--primary);
}

.skill-subgroup-name {
    font-weight: 100;
    font-size: 90%;
    color: var(--primary);
}

.text-primary {
    color: var(--primary) !important;
}

.badge-primary {
    background-color: var(--primary) !important;
    -webkit-print-color-adjust: exact;
}

.badge-experience-year {
    background-color: unset !important;
    color: unset !important;
    border: 1px solid;
    padding-top: .35em;
}

.badge-skill {
    margin: .15rem;
}

.badge-skill-1, .badge-skill-Beginner {
    font-size: 65%;
}

.badge-skill-2, .badge-skill-Intermediate {
    font-size: 75%;
}

.badge-skill-3, .badge-skill-Advanced {
    font-size: 85%;
}

.badge-skill-4, .badge-skill-Expert {
    font-size: 95%;
}

.badge-skill-5, .badge-skill-Master {
    font-size: 100%;
}

ul.timeline {
    list-style-type: none;
}

    ul.timeline li {
        position: relative;
        margin: 0;
        padding-bottom: 1em;
        padding-left: 20px;
    }

        ul.timeline li:before {
            content: '';
            background-color: var(--primary);
            position: absolute;
            bottom: 0;
            top: 0;
            left: 0;
            width: 3px;
            -webkit-print-color-adjust: exact;
        }

        ul.timeline li:after {
            content: "\2022";
            color: var(--primary);
            font-size: 50px;
            position: absolute;
            left: -7px;
            top: -24px;
        }
