@import url('font-awesome/css/font-awesome.min.css');

:root {
    --primary: #008080;
    --skill-color: #006464
}

html {
    font-size: 18px;
}

html, body {
    font-family: 'Helvetica Neue', Helvetica, Arial, sans-serif;
    line-height: 1.25;
    color: #212529;
}

@page {
    /*size: A4 !important;*/
    margin: 2cm 1.25cm 0.5cm 1.25cm !important;
}

#blazor-error-ui {
    background: lightyellow;
    bottom: 0;
    box-shadow: 0 -1px 2px rgba(0, 0, 0, 0.2);
    display: none;
    left: 0;
    padding: 0.6rem 1.25rem 0.7rem 1.25rem;
    position: fixed;
    width: 100%;
    z-index: 1000;
}

    #blazor-error-ui .dismiss {
        cursor: pointer;
        position: absolute;
        right: 0.75rem;
        top: 0.5rem;
    }

.page {
    position: relative;
    display: flex;
    flex-direction: column;
    page-break-after: always;
}

.sidebar {
    padding-left: 15px;
    z-index: 2;
}

.photo {
    text-align: center;
}

    .photo img {
        border-radius: 10%;
    }

.top-row {
    border-bottom: 1px solid;
    border-color: var(--primary);
    text-align: center;
    margin-top: 15px;
    margin-bottom: 10px;
}

.name {
    font-variant: small-caps;
    font-size: 2.5rem;
}

.clear-both {
    clear: both;
}

.hide {
    display: none;
}

@media print {
    .top-row {
        margin-top: 0;
    }

    .sidebar {
        padding-top: 0;
    }
}

@media (min-width: 641px) {
    .first-page {
        flex-direction: row;
    }

    .sidebar {
        max-width: 300px;
        border-left: 1px solid;
        border-color: var(--primary);
    }

    .top-row {
        z-index: 1;
    }

    .function-title {
        /*letter-spacing: 2px;*/
        font-family: 'cascadia code';
        font-size: unset;
        font-weight: 300;
    }
}

@media (max-width: 641px) {
    .period {
        padding-top: .5rem !important;
        padding-bottom: .5rem !important;
    }
}

h1.name {
    color: var(--primary);
}

.legend {
    color: var(--primary);
    font-size: 1.4rem;
    text-transform: uppercase;
    letter-spacing: 3px;
}

.skill-group-name {
    font-weight: 100;
    color: var(--primary);
}

.skill-subgroup-name {
    font-weight: 100;
    font-size: 90%;
    color: var(--primary);
}

.text-primary {
    color: var(--primary) !important;
}

.text-large {
    font-size: 1.3em;
}

.badge-primary {
    -webkit-print-color-adjust: exact;
}

.badge-experience-year {
    background-color: unset !important;
    color: unset !important;
    border: 1px solid;
    padding-top: .35em;
    letter-spacing: 1px;
}

.badge-skill {
    margin: .15rem 0;
    background-color: unset !important;
    color: var(--skill-color) !important;
    border: 1px solid;
    border-color: var(--skill-color) !important;
    border-radius: 1rem;
}

.badge-skill-1, .badge-skill-Beginner {
    font-size: 65%;
}

.badge-skill-2, .badge-skill-Intermediate {
    font-size: 75%;
}

.badge-skill-3, .badge-skill-Advanced {
    font-size: 85%;
}

.badge-skill-4, .badge-skill-Expert {
    font-size: 95%;
}

.badge-skill-5, .badge-skill-Master {
    font-size: 100%;
}


.timeline {
    border-left: 2px solid var(--primary);
}

.timeline-item {
    margin: 0 0 10px 10px;
}

.timeline-dot {
    position: relative;
}

    .timeline-dot::before {
        content: "";
        position: absolute;
        width: 15px;
        height: 15px;
        background: white;
        border-radius: 999px;
        left: -28px;
        top: 6px;
        border: 3px solid var(--primary);
    }
