/* /Shared/EmptyLayout.razor.rz.scp.css */
/* /Shared/MainLayout.razor.rz.scp.css */
.page[b-lpta8bvvza] {
    position: relative;
    display: flex;
    flex-direction: column;
}

.main[b-lpta8bvvza] {
    flex: 1;
}

.sidebar[b-lpta8bvvza] {
    background-color: lightgray;
}

.top-row[b-lpta8bvvza] {
    background-color: #f7f7f7;
    border-bottom: 1px solid #d6d5d5;
    text-align:center;
    margin-top:30px
}

.name[b-lpta8bvvza] {
    font-variant: small-caps;
}

@media (min-width: 641px) {
    .page[b-lpta8bvvza] {
        flex-direction: row;
    }

    .sidebar[b-lpta8bvvza] {
        width: 250px;
        height: 100vh;
        position: sticky;
        top: 0;
    }

    .top-row[b-lpta8bvvza] {
        position: sticky;
        top: 0;
        z-index: 1;
    }

    .main > div[b-lpta8bvvza] {
        padding-left: 2rem !important;
        padding-right: 1.5rem !important;
    }
}
/* /Shared/Sidebar.razor.rz.scp.css */
.oi[b-s0jme9zzfr] {
    width: 1.5rem;
    font-size: 1.1rem;
    vertical-align: text-top;
    top: -1px;
}

.photo[b-s0jme9zzfr] {
    text-align: center;
}

    .photo img[b-s0jme9zzfr] {
        border-radius: 10%;
    }

