@inherits LayoutComponentBase

<div class="page">
    <div class="sidebar">
        <Sidebar />
    </div>

    <div class="main">
        <div class="top-row px-4">
            <h1>Deowan Faruque Ahamed</h1>
        </div>
        
        <div class="content px-4">
            @Body
        </div>
    </div>
</div>
