<div class="photo mt-4">
    <img src="images/photo.jpg" width="150" />
</div>

<div>
    <ul class="nav flex-column">
        <li class="nav-item px-3">
            <span class="oi oi-phone"></span> +880 1734 588 155
        </li>
        <li class="nav-item px-3">
            <span class="oi oi-envelope-closed"></span> dfaruque@@gmail.com
        </li>
        <li class="nav-item px-3">
            <span class="oi oi-home"></span> Dag No. 8380, Barua Paschim Para, Barua, Khilkhet, Dhaka - 1229.
        </li>
    </ul>
</div>